<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title style="color:rgb(101, 101, 241);">26er Project Creation App - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
	<body style="background-color:powderblue;">
       <nav>
           <a href="{{ url_for('logout') }}" style="color:rgb(101, 101, 241);">Logout</a>
       </nav>

        <h1 style="color:rgb(101, 101, 241);">Welcome {{user.name}} to the 49er Notes App!</h1>

		{% if note %}
			<form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
		{% else %}
      		<form action="new" method="post">
		{% endif %}
            	<p><label style="color:rgb(101, 101, 241);">Title</label></p>
			<p><input type="text" name="title" value="{% if note %}{{note.title}}{% endif %}"/></p>
          		<p><label style="color:rgb(101, 101, 241);">Note</label></p>
			<p>
				<textarea name="noteText" rows="6" cols="0" style="background-color: #8976f4;" style="color:rgb(255, 255, 255);">
						{% if note %} {{note.text}}
						{% else %} Add your new note here...
						{% endif %}
				</textarea>
			</p>
			<p>
				{% if note %}
					<input type="submit" value="Update Note"/>
				{% else %}
					<input type="submit" value="Add Note"/>
				{% endif %}
			</p>           	
       	</form>
    	</body>
</html>